.hiveCell{
	.cellLetter{
		position: relative;
		bottom: 40px;
		margin-left: -60px;
	    font-weight: 700;
		font-size: 1.875em;
		text-anchor: middle;
		text-transform: uppercase;
		font-family: 'nyt-franklin';
	}
}